* {
  margin: 0;
  padding: 0;
  }
.App {
  text-align: center;
  right: 0px;
}

.nav {
  right: 0px;
  display: flex;
  justify-content: space-between;
}
.head-items {
  display: flex;

}
.site-title{
  padding-left: 130px;
  padding-top: 20px;
  text-decoration: none;
}
.head-items >li{
  padding: 20px;
  list-style-type: none;
}
input{
  padding: 10px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #3c4547;
  
}
.nav-items{
  display: flex;
  padding-left: 100px;
  
}
.driver-option{
  padding-right: 120px;
  text-decoration: none;
}
.nav-items >li{
  padding: 20px;
  list-style-type: none;
  color: #fff;

}

.became-drive{
  padding-right: 120px;
  align-items: center;
  color: #fff;
}



